.carousel {
  overflow: hidden;
  position: relative;
}
.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-sizing: border-box;
  height: 400px;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
}
.carousel-item {
  display: inline-flex;
  align-items: center;
  min-height: 400px;
  justify-content: center;
  background-color: transparent;
  color: #f0f5f5;
  white-space: pre-wrap;
}
.arrow-back {
  position: absolute;
  left: 10px;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
}
.arrow-forward {
  position: absolute;
  right: 10px;
  top: calc(50% - 20px);
}

.indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: calc(50% - 102.5px);
  right: calc(50% - 102.5px);
}
.indicators > button {
  border-radius: 100%;
  min-width: 25px;
  height: 25px;
  color: #f0f5f5;
}
.indicators > button.active {
  background-color: #f0f5f5;
  color: #1d2226;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.carousel-content {
  width: 75%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
  padding-bottom: 20px;
}
@media (max-width: 600px) {
  .carousel-item {
    align-items: stretch;
    justify-content: center;
  }
  .carousel-content {
    padding: 30px 15px;
  }
}
