@import '../../../assets/colors.scss';
.item {
  position: relative;
  z-index: 1;
}
.backdrop {
  position: absolute;

  background-color: $newYellow;
  border-radius: 8px;
  z-index: 0;
  opacity: 1;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.container {
  background-color: $white;
  position: relative;
  margin-bottom: -3px;
  background-image: url('../../../assets/svgs/wave (1).svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 110vw;
}
.content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  @media (max-width: 820px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .expirience {
      margin-top: 25px;
      width: 85%;
    }
    .skills {
      width: 75%;
      > h3 {
        text-align: center;
      }
    }
  }
}
.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  &_imgs {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.img_box {
  width: 84px;
  height: 84px;
  margin: 10px;
  position: relative;
  z-index: 2;
  > p {
    position: inherit;
    z-index: 2;
  }
}
.img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  position: inherit;
  z-index: 2;
  // @media (max-width: 500px) {
  //   width: 40px;
  //   height: 40px;
  // }
}
.expirience {
  width: 50%;
  padding: 20px 20px 20px 0;
  margin-top: -240px;
  > h3 {
    text-align: center;
    padding: 15px;
  }
}
.blob {
  width: 600px;
  height: 600px;
  position: absolute;
  right: 40px;
  bottom: 40px;
  box-sizing: border-box;
  z-index: 0;
}
