@import '../../../assets/colors.scss';
.wrap {
  position: relative;

  max-height: fit-content;
  &:hover {
    .download {
      opacity: 1;
      transition: 0.4s ease;
    }
    .buttons {
      opacity: 1;
      transition: 0.4s ease;
    }
  }
}
.pdf {
  margin: 0 auto;
}
.buttons {
  border-radius: 12px;
  color: $blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 400px;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  @media (max-width: 767px) {
    width: 364px;
  }
}
.btn {
  box-shadow: inset;
  text-align: center;
  vertical-align: middle;
  color: $blue;
}
.download {
  position: absolute;
  top: 0;
  right: 0;

  color: $white;
  opacity: 0;

  &_btn {
    border-radius: 8px;
    border: 2px solid $blue;
    padding: 0 4px;
    &:hover {
      border: 2px solid $pink;
      background-color: $pink;
      color: $white;
    }
  }
}
