$grey: #414141;
$dark-grey: #2d2d2d;
$yellow: #e1ff00;
$orange: #f58709;
$gradient: linear-gradient(45deg, $yellow, $orange);
$light-blue: #00c1ec;
$blue: #0674f1;
$pink: #f81285;
$red: #f81225;
$white: #f1f2e7;

$textShadow: 1px 1px 3px $orange;

.shadow {
  position: absolute;
  inset: 0;
  background-color: $yellow;
  border-radius: 4px;
  z-index: -1;
  opacity: 0.8;
}
