$grey: #414141;
$light-grey: #797575;
$dark-grey: #2d2d2d;
$yellow: #e1ff00;
$orange: #f58709;
$gradient: linear-gradient(45deg, $yellow, $orange);
$light-blue: #00c1ec;
$blue: #0674f1;
$darkBlue: #3125de;
$pink: #f81285;
$red: #f81225;
$white: #f1f2e7;
$newYellow: #f7af24;

$textShadow: 1px 1px 3px $orange;

.shadow {
  position: absolute;
  inset: 0;
  background-color: $newYellow;
  border-radius: 4px;
  z-index: -1;
}

$yellowWave: url(./svgs/wave-yellow.svg);

$mouse-device: '(hover: hover) and (pointer: fine)';
