@import '../../assets/colors.scss';

.layout {
  padding: 40px 20px;
}
.content {
  max-width: 1240px;
  margin: 0 auto;
  background-color: transparent;
  height: 100%;
  box-sizing: border-box;
}
.desc {
  font-size: 14px;
  margin: -48px 0 60px 40px;
  width: 300px;
  position: relative;
  &::before {
    content: '***';
    position: absolute;
    top: 0;
    left: -20px;
  }
  @media (max-width: 820px) {
    width: 80%;
    margin: -28px auto 40px;
  }
}
// .wrap {
//   margin: 30px 0 60px 40px;
//   width: 300px;
// }
.title {
  width: 300px;
  height: auto;
  box-sizing: content-box;
  margin: 30px 0 60px 40px;
  position: relative;

  > h2 {
    font-weight: 600;
    position: relative;
  }

  @media (max-width: 820px) {
    width: auto;
    max-width: fit-content;
    margin: 20px auto 40px;

    > h2 {
      text-align: center;
    }

    // .wrap {
    //   margin: 20px auto 40px;
    //   width: auto;
    //   max-width: fit-content;
    // }
  }
}
.subTitle {
  position: absolute;
  font-size: 16px;
  left: -24px;
  top: -48px;
  transform: rotate(-24deg);
  font-weight: 600;
  color: $blue;
}
