@import '../../../assets/colors.scss';
.flex {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
  margin: 0;

  > li {
    text-decoration: none;
    position: relative;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    > a {
      cursor: pointer;
      text-decoration: none;
    }
  }
}
