@import '../../../assets/colors.scss';
.box {
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  list-style: none;
  > li {
    text-decoration: none;
    position: relative;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    > a {
      cursor: pointer;
      text-decoration: none;
    }
    > a:active,
    a:focus {
      outline: none;
    }
  }
}
.button {
  width: 40px;
  height: 40px;
  > a {
    width: 35px;
    height: 35px;
    text-decoration: none;
  }
}
.icon {
  width: 35px;
  height: 35px;
}
