@import '../../../assets/colors.scss';
.wrap {
  color: $yellow;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  @media (max-width: 767px) {
    text-align: center;
  }
}

.text {
  text-shadow: 1px 1px 3px #f58709;
  font-weight: 600;
}
