@import '../../../assets/colors.scss';
.wrap {
    color: '#fff';
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    @media (max-width: 820px) {
        text-align: center;
        justify-content: space-between;
        gap: 12px;
    }
}
.content {
    padding: 10px 20px;
    position: relative;
    margin-bottom: 40px;

    &:hover {
        @media #{$mouse-device} {
            color: $darkBlue;
        }
    }
    &:hover::before {
        content: '<>';
        font-size: 30px;
        position: absolute;
        top: -30px;
        left: 10px;
        transition: 0.3s ease-in;
        @media (max-width: 820px) {
            content: '';
            font-size: 0;
        }
    }

    &:hover::after {
        content: '</>';
        font-size: 30px;

        position: absolute;
        bottom: -30px;
        left: 10px;
        transition: 0.3s ease-in;
        @media (max-width: 820px) {
            content: '';
            font-size: 0;
        }
    }
}
.btn_wrap {
    padding: 0 20px;
    align-self: flex-start;
    @media (max-width: 820px) {
        align-self: center;
        padding: 0;
    }
}
.btn_primary {
    border-radius: 12px;
    background-color: $darkBlue;
    margin: 12px;
    padding: 8px 12px;
    vertical-align: middle;

    &:hover {
        @media #{$mouse-device} {
            scale: 1.05;
            transition: 0.2s ease-in-out;
        }
    }
}
.btn_secondary {
    border-radius: 12px;
    color: $darkBlue;
    margin: 12px;
    color: #fff;
    border: 2px solid $darkBlue;
    padding: 8px 12px;

    &:hover {
        @media #{$mouse-device} {
            scale: 1.05;
            border: 2px solid $blue;
            background-color: $blue;
            transition: 0.2s ease-in-out;
        }
    }
}
.text {
    // text-shadow: $textShadow;
    font-weight: 600;
}
