@import '../../../assets/colors.scss';
.wrap {
  width: 80%;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 80%;
    margin: 0 auto;
  }
  @media (max-width: 550px) {
    width: 90%;
    margin: 0 auto;
  }
}
.title {
  color: $white;
  font-weight: 500;
  padding: 20px 0;
}
.container {
  margin-top: -1px;

  background-image: url('../../../assets/svgs/wave-white.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 175vw;
  background-color: $newYellow;
}
.flex {
  display: flex;
  gap: 40px;
  justify-content: space-evenly;

  @media (max-width: 820px) {
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
  }
}
